<mat-toolbar color="accent">
    <span>Wipro test page</span>
  </mat-toolbar>
  <mat-card >
    <mat-card-header>
    

</mat-card-header>
  <div class="regisform">
  
    
    <section>
      <div class="example-button-row">
        <button mat-stroked-button color="primary" routerLink="/register">Registration</button>
        <button mat-stroked-button color="accent" routerLink="/login">Login</button>
        
        <button mat-stroked-button color="accent" routerLink="/admin"><mat-icon aria-hidden="false" aria-label="Example home icon">supervised_user_circle</mat-icon></button>
      </div>
    </section>
    <mat-divider></mat-divider>
    <p>

 I am using angular 10 and 6.4 angular material in this project. 
no any custom css needed in this project so i am using only 2 and 3 css in this project



</p>
      
  </div>
  
  <div class="example-button-container">
    <button mat-flat-button color="primary"(click)="gget()" >Get Data</button>
    <button mat-flat-button color="primary"(click)="delet()" >Delete</button>
  </div>
  
  {{savedate}}
  </mat-card>