<mat-toolbar color="accent">
    <span>Wipro test page</span>
  </mat-toolbar>
  <mat-card >
    <mat-card-header>
    

</mat-card-header>
  <div class="regisform">
    <section>
      <div class="example-button-row">
        <button mat-stroked-button color="primary" routerLink="/register">Registration</button>
        <button mat-stroked-button color="accent" routerLink="/login">Login</button>
        <button mat-stroked-button color="accent" routerLink="/admin">
          <mat-icon aria-hidden="false" aria-label="Example home icon">supervised_user_circle</mat-icon>
        </button>
      </div>
    </section>
    <mat-divider></mat-divider>
   

      
  </div>
 
  </mat-card>